<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    {{!-- Google Font --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>News Scraper</title>
    <style>
        body {
            background-color: blanchedalmond
        }

        .input-field-text {
            padding-left: 1pc;
            padding-right: 1pc;
            font-family: 'Roboto Slab', serif;
        }

        .card-panel {
            background-color: #87806a;
        }
        .card{
            background-color: #87806a;
            font-family: 'Roboto Slab', serif;
            font-size: 20px;
        }

        h1 {
            font-family: 'Roboto Condensed', sans-serif;
            color: #424242
        }

        h3 {
            font-family: 'Roboto Condensed', sans-serif;
            color: #424242

        }

        h5 {
            font-family: 'Roboto Condensed', sans-serif;

        }

        #scrape {
            color: #424242;
        }
        #commentID{
            color: blanchedalmond;
        }
    </style>
</head>

<body>

    <main>
        <div class="container">
            {{{ body }}}
        </div>
    </main>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
<html>